{% extends "base.html" %}

{% block content %}


    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-user"></i>
                    Admin
                </div>
                <div class="card-body">
                    <div class="container">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Add Projects</label>
                                <textarea class="form-control" id="project" rows="3"
                                          placeholder="Projects Name"></textarea>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <button type="submit" class="btn btn-primary" onclick="create_project()">Add
                                    </button>
                                </div>
                            </div>
                        <br>
                        <form action="{{ url_for('generate_report_main') }}">
                            <div class="form-group row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Generate Report</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <h2>Projects Table</h2>
                    <br>
                    <div class="table-responsive" style="width:60%">
                        <table class="table table-bordered" id="dataTable"  cellspacing="0">
                            <thead>
                            <tr>
                                <th>Projects</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <br>
                    <h2>Tasks Table</h2>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="taskTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Project</th>
                                <th>Task</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2019</span>
            </div>
        </div>
    </footer>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
{% block script %}
    <script>

        $(document).ready(function () {
            $.ajax({
                url: "/project/",
                type: 'GET',
                dataType: 'json', // added data type
                success: function (response) {
                    if(response["data"] !=undefined)
                    {
                    for (var i = 0; i < response["data"].length; i++) {
                        var task_data = '<tr>';
                        task_data += '<td>' + response["data"][i]["project_name"] + '</td>';
                        task_data += "<td><button class='btn' onclick='delete_project(" + response["data"][i]["project_id"] + ")'><i class='fa fa-trash'></i></button></td>";
                        task_data += '</tr>';
                        $('#dataTable tbody').append(task_data);
                    }
                    }
                    $('#dataTable').DataTable()

                }
            });

        });
    </script>
    <script>

        $(document).ready(function () {
            $.ajax({
                url: "/tasks/",
                type: 'GET',
                dataType: 'json', // added data type
                success: function (response) {
                    if(response["data"] !=undefined)
                    {
                    for (var i = 0; i < response["data"].length; i++) {
                        var task_data = '<tr>';
                        task_data += '<td>' + response["data"][i]["user"]["user_name"] + '</td>';
                        task_data += '<td>' + response["data"][i]["project"]["project_name"] + '</td>';
                        task_data += '<td>' + response["data"][i]["task_title"] + '</td>';
                        task_data += '<td>' + response["data"][i]["status"] + '</td>';
                        task_data += '<td>' + response["data"][i]["date"] + '</td>';
                        task_data += "<td><button class='btn' onclick='delete_task(" + response["data"][i]["task_id"] + ")'><i class='fa fa-trash'></i></button></td>";

                        task_data += '</tr>';
                        $('#taskTable tbody').append(task_data);
                    }
                    }
                    $('#taskTable').DataTable()

                }
            });

        });
    </script>
    <script>

        function create_project() {
            var pro={
                    "project_name": $('#project').val(),
                }
            $.ajax({
                url: "/project/",
                type: 'POST',
                contentType:"application/json",
                data: JSON.stringify(pro),
                dataType: 'json', // added data type
                success: function (response) {
                    setTimeout(function(){  location.reload();}, 500);
                   $.notify.addStyle('happyblue', {
     html: "<div><span data-notify-text/></div>",
     classes: {
        base: {
          "white-space": "nowrap",
          "background-color": "lightblue",
          "padding": "5px"
        },
        superblue: {
          "color": "white",
          "background-color": "blue"
        }
      }
    });
                    $.notify(response['message'], {
        style: 'happyblue',
        className: 'superblue', // <-- just a comma, but really important
        title: "Daily task Application",

    });
                }
            });
        }

        function delete_project(project_id) {
swal({
  title: "Are you sure?",
  text: "Your will not be able to recover this record!",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Yes, delete it!",
  closeOnConfirm: false
},
function(){
    $.ajax({
            url: "/project/" + project_id + "/",
            type: 'DELETE',
            dataType: 'json', // added data type
            success: function (response) {
                if(response['status']=="1") {
                    swal("Deleted!", "Your record has been deleted.", "success");
                }
                else
                {
                 swal("Error!", "Your record has related to other tasks.", "error");
                }
                setTimeout(function(){  location.reload();}, 1000);
            }
        });
});
        }


function delete_task(task_id) {
swal({
  title: "Are you sure?",
  text: "Your will not be able to recover this record!",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Yes, delete it!",
  closeOnConfirm: false
},
function(){
    $.ajax({
            url: "/task/" + task_id + "/",
            type: 'DELETE',
            dataType: 'json', // added data type
            success: function (response) {
                if(response['status']=="1") {
                    swal("Deleted!", "Your record has been deleted.", "success");
                }
                else
                {
                 swal("Error!", "Your record is not deleted.", "error");
                }
                setTimeout(function(){  location.reload();}, 1000);
            }
        });
});
        }
    </script>
{% endblock %}

