<!DOCTYPE html>
<html>
<body>
Date-{{ context['date'] }}
{% for project in context["projects"] %}
    <h1>Project- {{ project.project_name }}</h1>
    {% for task in context["tasks"] %}
       {% if project.project_id == task.project_id %}
           <h4>Name:{{ task.user.user_name }}</h4>
           <p>Task Details:{{ task.task_title }}</p>
           <p>Status:{{ task.status }}</p>
                  {% if task.reason %}
           <p>Reason:{{ task.reason }}</p>
                  {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}


{#{Date-{{ context['date'] }}}#}
{#{% for task in context['tasks'] %}#}
{#    <p>{{ task.project.project_name }}</p>#}
{##}
{##}
{#{% endfor %}#}
</body>
</html>
