{% extends "base.html" %}

{% block content %}

    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    Select Project
                </div>
                <div class="card-body">
                    <div class="container">
                        <form id="form">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Project</label>
                                <select class="form-control" >
                                     {% for project in context %}
                                        <option value="{{  project['project_id'] }}">{{ project['project_name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <a class="nav-link" href="{{ url_for('render_create') }}"><i class="fa fa-plus-circle"></i> Add
                                        Task</a>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2019</span>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

{% block script %}

{% endblock %}